

.delete-form{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
        font-size: 16px;
        text-align: left;
    }

    .group-button{
        display: flex;
        justify-content: end;
    }


}