<div class="button-groups">
  <div class="group">
    <app-input-field
      [optionValues]="formats"
      [(value)]="format"
    ></app-input-field>
    <app-input-field id="seconds" [(value)]="duration" type="number">
    </app-input-field>
    <button (click)="toggleStatus('run')">Start</button>
    <button (click)="toggleStatus(status === 'pause' ? 'run' : 'pause')">
      {{ status === 'pause' ? 'continue' : 'Pause' }}
    </button>
    <button (click)="toggleStatus('end')">end</button>
    <button (click)="toggleStatus('retry')">retry</button>
  </div>
  <div class="count-down-view">
    <app-count-down
      [duration]="duration"
      [status]="status"
      [format]="format"
      (finish)="onCountdownFinish()"
    ></app-count-down>
  </div>
</div>
