header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    li {
      list-style-type: none;
    }
  }
}
