<div nz-form-item nz-row>
    <div nz-form-label nz-col nzSpan="6">
      <label [for]="inputId">{{ label }} <span *ngIf="required">*</span></label>
    </div>
    <div nz-form-control nz-col nzSpan="18">
      <nz-input-group>
        <input
          nz-input
          [id]="inputId"
          [type]="type === 'password' && !passwordVisible ? 'password' : 'text'"
          [formControlName]="controlName" 
          [placeholder]="placeholder"
          (blur)="onTouched()"
          [required]="required"
        />
        <ng-template #suffixTemplate>
          <ts-icon
            (click)="togglePasswordVisibility()"
            [name]="passwordVisible ? 'eye-invisible' : 'eye'">
          </ts-icon>
        </ng-template>
      </nz-input-group>
    </div>
    <ng-container *ngIf="formGroup.controls[controlName].invalid && formGroup.controls[controlName].touched">
      <small>{{ errorMessage }}</small>
    </ng-container>
  </div>
  