<div class="button-groups">
  <div class="group">
    <app-input-field
      [optionValues]="variants"
      [(value)]="variant"
    ></app-input-field>
    <button
      nz-button
      [nzType]="loading ? 'primary' : 'default'"
      (click)="toggleLoading()"
    >
      loading
    </button>
    <button
      nz-button
      [nzType]="disabled ? 'primary' : 'default'"
      (click)="toggleDisabled()"
    >
      disabled
    </button>
    <app-input-field id="title" [(value)]="label" type="text">
    </app-input-field>
  </div>
  <div class="button-view">
    <button
      appButton
      [variant]="variant"
      [disabled]="disabled"
      [loading]="loading"
    >
      {{ label ? label : 'button' }}
    </button>
  </div>
</div>
