<section class="container">
  <article class="content">
    <header class="title">
      <p>welcome</p>
    </header>
    <section class="user" *ngIf="userInfo$ | async as userInfo">
      <figure class="avatar">
        <nz-avatar [nzSize]="96" nzIcon="user" [nzSrc]="userInfo.avatar"></nz-avatar>
        <div class="edit" (click)="handleClickUpdate()" (keydown.enter)="handleClickUpdate()"
        tabindex="0">
          <app-icon [name]="'edit'" ></app-icon>
        </div>
      </figure>
      <section class="" (click)="accountView = true" (keydown.enter)="accountView = true"
      tabindex="0">
        <p class="name">{{ userInfo?.username }}</p>
        <div class="information">
          <p class="id-user">ID: {{ userInfo?.id }}</p>
          <p>Email: {{ userInfo?.email }}</p>
        </div>
      </section>
    </section>
  </article>
</section>

<!-- <app-open-modal *ngIf="accountView" (previewVisible)="handleAccountView($event)">
  <app-account></app-account>
  shafđfhhzfhgv
</app-open-modal> -->

<app-open-modal *ngIf="updateForm" (Visible)="openUpdateForm($event)">
  <div class="update">
    <!-- <app-upload-img></app-upload-img> -->
  </div>
</app-open-modal>
