.container {
  // border: 1px solid var(--white);

  .content {
    padding: 32px 46px;
    border-radius: 12px;
    // background-color: #ffedfcb3;

    .title {
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .out {
        font-size: 12px;
        color: rgb(247, 99, 99);
        cursor: pointer;
        padding: 6px 12px;
        border-radius: 4px;
        transition: 0.2s;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
          background-color: rgb(247, 99, 99);
          transition: 0.2s;
          color: white;
        }
      }
    }

    .user {
      display: flex;
      gap: 24px;

      > section {
        cursor: pointer;
      }
      .avatar {
        position: relative;

        .edit {
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: aliceblue;
          padding: 8px;
          border-radius: 50%;
          transition: 0.2s;
          cursor: pointer;
        }

        &:hover {
          .edit {
            display: flex;
            transition: 0.2s;
          }
        }
      }

      .name {
        font-size: 48px;
        font-weight: lighter;
      }

      .information {
        display: flex;
        gap: 12px;
        align-items: center;

        .id-user {
          color: rgb(247, 99, 99);
        }
      }
    }
  }
}
.update{
  padding: 24px;
}