<section class="container">
  <article class="content">
    <header class="title">
      <p>{{ 'WELCOME' | translate }}</p>
      <a
        class="out"
        (click)="confirmationForm = true"
        (keydown.enter)="confirmationForm = true"
        tabindex="0"
        role="button"
      >
        {{ 'LOGOUT' | translate }}<app-icon name="logout"></app-icon>
      </a>
    </header>
    <section class="user" *ngIf="userInfo$ | async as userInfo">
      <figure class="avatar">
        <nz-avatar [nzSize]="96" nzIcon="user" [nzSrc]="avatar"></nz-avatar>
        <div
          class="edit"
          (click)="handleClickUpdate()"
          (keydown.enter)="handleClickUpdate()"
          tabindex="0"
        >
          <app-icon [name]="'edit'"></app-icon>
        </div>
      </figure>
      <section
        class=""
        (click)="accountView = true"
        (keydown.enter)="accountView = true"
        tabindex="0"
      >
        <p class="name">{{ userInfo?.username }}</p>
        <div class="information">
          <p class="id-user">ID: {{ userInfo?.id }}</p>
          <p>Email: {{ userInfo?.email }}</p>
        </div>
      </section>
    </section>
  </article>
</section>

<app-open-modal [isVisible]="confirmationForm" (Visible)="onConfirm($event)">
  <app-confirmation-form *ngIf="confirmationForm" (confirm)="onConfirm($event)">
    {{ 'ARE_YOU_SURE_YOU_WANT_TO_SIGN_OUT' | translate }}
  </app-confirmation-form>
</app-open-modal>
