.menu {
  .menu-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;

    .menu-item-icon {
      font-size: 18px;
    }
  }
}

:host::ng-deep {
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
  .ant-menu-submenu-selected,
  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background-color: var(--pink12);
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  .ant-menu-submenu:hover
    > .ant-menu-submenu-title
    > .ant-menu-submenu-expand-icon,
  .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    color: var(--primary);
  }

  .ant-menu-light .ant-menu-item:hover,
  .ant-menu-light .ant-menu-item-active,
  .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-light .ant-menu-submenu-active,
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--primary);
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right-color: var(--primary);
  }

  .ant-menu-item .ant-menu-item-icon + span,
  .ant-menu-submenu-title .ant-menu-item-icon + span,
  .ant-menu-item .anticon + span,
  .ant-menu-submenu-title .anticon + span {
    margin-left: 0;
    font-weight: 600;
    font-size: 16px;
  }

  .ant-menu-inline.ant-menu-root .ant-menu-item,
  .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
    gap: 8px;
  }

  .ant-menu-inline.ant-menu-root .ant-menu-item {
    margin: 0;
    padding: 26px 0;
    border-bottom: 1px solid #d9d5d5;
  }
}
