<p class="title">add Bucket item</p>
<div>
  <form nz-form [formGroup]="bucketItemFormGroup" (ngSubmit)="onSubmit()">
    <div class="basic">
      <app-custom-input
        formControlName="content"
        placeholder="Content"
        [error]="bucketItemFormGroup.get('content')?.errors"
        [id]="'Content'"
      ></app-custom-input>
      <div class="flex">
        <nz-date-picker
          formControlName="date"
          [nzPlaceHolder]="'Chọn ngày'"
          [nzFormat]="'yyyy-MM-dd'"
          (nzOnOpenChange)="handleStartOpenChange($event)"
        ></nz-date-picker>
        <nz-time-picker
          #timePicker
          formControlName="time"
          [nzFormat]="'HH:mm'"
          (nzOpenChange)="handleEndOpenChange($event)"
        ></nz-time-picker>
      </div>
    </div>
    <div class="group-button">
      <button nz-button nzType="text" type="reset">Reset</button>
      <button
        nz-button
        nzType="primary"
        type="submit"
        class="submit"
        [disabled]="message.isLoading"
        nzDanger
      >
        Submit
      </button>
    </div>
  </form>
</div>
<!-- <form
  nz-form
  [formGroup]="bucketItemFormGroup"
  (ngSubmit)="onSubmit()"
  *ngIf="bucketItemFormGroup"
></form> -->
