.group-bucket{
  min-height: 148px;

  &.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    width: 100%;
  
    .bucket {
      padding: 12px 24px;
      max-height: 62px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      transition: 0.2s;
      cursor: pointer;

      .bucket-content{
        text-align: left;
        
        >div{
          font-size: x-small;
        }
      }
  
      &:hover {
        background-color: var(--red2);
        transition: 0.2s;
      }
    }
  }
}


.pagination {
  margin-top: 24px;
  display: flex;
}
