<div [ngClass]="buckets.length > 0 ? 'content' : ''">
  @for (bucket of buckets; track bucket.title) {
  <div
    class="bucket"
    (click)="navigateToDetails(bucket.id)"
    (keydown.enter)="navigateToDetails(bucket.id)"
    tabindex="0"
  >
    <app-text [content]="bucket.title" [line]="1"></app-text>
    <app-icon *ngIf="!bucket.public" [name]="'lock'"></app-icon>
  </div>
  } @empty { @if (message.isLoading) {
  <nz-skeleton [nzActive]="true"></nz-skeleton>}@else {<app-empty></app-empty>}
  }
</div>
<div class="pagination">
  <nz-pagination
    *ngIf="message.isLoading && totalBuckets > configurationParams.limit"
    [nzPageIndex]="configurationParams.page"
    [nzTotal]="totalBuckets"
    [nzPageSize]="configurationParams.limit"
    (nzPageIndexChange)="onPageChange($event)"
  ></nz-pagination>
</div>
