.ip {
  display: flex;
  flex: 1;
  min-width: 100px;
  border: none;
  padding: 6px 8px;
  background-color: transparent;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
