.ip {
  display: flex;
  flex: 1;
  min-width: 100px;
  border: 1px solid gray;
  padding: 6px 8px;
  background-color: transparent;

  &:focus {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: 0.2s;
  }
}
