.container {
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .bucket {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;

      .title {
        display: flex;
        gap: 12px;
        font-size: large;
        text-align: left;
        max-width: 60%;

        .icon {
          font-size: medium;
        }
      }

      .action {
        display: flex;
        gap: 12px;
      }
    }

    .title-action {
      display: flex;
      justify-content: space-between;
      .search {
        width: 42%;
        display: flex;
        align-items: center;
        gap: 12px;
        .icon {
          padding: 8px;
          transition: 0.2s;
          border-radius: 4px;
          &.filter {
            color: var(--pink12);
            // background-color: var(--pink14);
          }
          &:hover {
            background-color: var(--pink14);
            transition: 0.2s;
          }
        }
      }
    }
    .done {
      color: var(--green6);
    }
  }
}
