<div class="container">
  <div class="content">
    @if (bucket) {
    <div class="bucket">
      <p class="title">
        {{ bucket.title }}
        <app-icon *ngIf="!bucket.public" [name]="'lock'"></app-icon>
      </p>
      <div class="action">
        <app-open-form
          [formName]="'edit bucket'"
          [icon]="'edit'"
          [id]="bucket.id"
          [label]="false"
        >
        </app-open-form>
        <app-open-form
          [buttonType]="'danger'"
          [formName]="'delete'"
          [delete]="'Bucket'"
          [icon]="'delete'"
          [id]="bucket.id"
          [label]="false"
        >
        </app-open-form>
      </div>
    </div>
    }
    <div class="title-action">
      <app-open-form
        [formName]="'add bucket items'"
        [icon]="'plus'"
        [id]="todoId"
      >
      </app-open-form>
      <input
        nz-input
        type="text"
        [formControl]="searchControl"
        placeholder="Tìm kiếm..."
      />
    </div>
    @if(doneItems.length > 0 || notDoneItems.length > 0){
    <app-todo-item [bucketItem]="notDoneItems"></app-todo-item>
    <app-todo-item [bucketItem]="doneItems"></app-todo-item>

    }@else{ @if (message.isLoading) {
    <nz-skeleton [nzActive]="true"></nz-skeleton>
    }@else {
    <app-empty></app-empty>
    } }
  </div>
</div>
