<div class="container">
  <div class="content">
    @if (bucket) {
    <div class="bucket">
      <p class="title">
        <app-text>{{ bucket.title }}</app-text>
        <app-icon
          *ngIf="!bucket.public"
          [name]="'lock'"
          class="icon"
        ></app-icon>
      </p>

      <div class="action">
        <app-sidebar [contentTemplate]="customContent"></app-sidebar>
        <app-open-form
          [formName]="'edit bucket'"
          [icon]="'edit'"
          [id]="bucket.id"
          [label]="false"
        >
        </app-open-form>
        <app-open-form
          [buttonType]="'danger'"
          [formName]="'delete'"
          [delete]="'deleteBucket'"
          [icon]="'delete'"
          [id]="bucket.id"
          [label]="false"
        >
        </app-open-form>
      </div>
    </div>
    <div class="title-action">
      <app-open-form
        [formName]="'add bucket items'"
        [icon]="'plus'"
        [id]="todoId"
      >
      </app-open-form>

      <div class="search">
        <app-icon
          class="icon"
          [ngClass]="filter ? 'filter' : ''"
          (click)="onfilter()"
          (keydown.enter)="onfilter()"
          tabindex="0"
          [name]="'filter'"
        ></app-icon>

        <app-search-field
          class="search-field"
          (searchContent)="onSearch($event)"
          [value]="searchContent"
        ></app-search-field>
      </div>
    </div>
    }@else {@if (message.isLoading) {
    <nz-skeleton [nzActive]="true"></nz-skeleton>
    }@else {<app-empty></app-empty>}}

    <div *ngIf="total && filter" class="flex">
      <div class="flex done">
        <app-icon [name]="'check'" class="icon"></app-icon>
        <p>{{ totalBucketDone ? totalBucketDone : 0 }}</p>
      </div>
      <p>/</p>
      <p>{{ total }}</p>
    </div>

    @if(bucket && todoId ){ @if(filter){
    <app-todo-item
      [done]="0"
      [todoId]="todoId"
      (totalBucket)="getTotalBucketNotDone($event)"
    ></app-todo-item>
    <app-todo-item
      [done]="1"
      [todoId]="todoId"
      (totalBucket)="getTotalBucketDone($event)"
    ></app-todo-item>
    @if(!total&& !message.isLoading){ <app-empty></app-empty>
    } }@else {
    <app-todo-item
      [todoId]="todoId"
      (totalBucket)="getTotalBucket($event)"
    ></app-todo-item>
    @if(!total&&!message.isLoading){ <app-empty></app-empty>
    } } }
  </div>
</div>

<ng-template #customContent let-searchContent="searchContent">
  <app-bucket-list [searchContent]="searchContent"></app-bucket-list>
</ng-template>
