.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(128, 128, 128, 0.329);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .content {
        margin-top: 240px;
        position: fixed;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        max-width: 70%;
        overflow-y: auto;
        max-height: 95vh;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}