<button (click)="openForm()" nz-button nzType="primary" [ngClass]="buttonType">
  <app-icon [name]="icon"></app-icon>
  <p *ngIf="label">{{ formName }}</p>
</button>
<div
  class="container"
  *ngIf="currentForm === formName"
  (click)="closeForm()"
  (keydown.enter)="closeForm()"
  tabindex="0"
>
  <div
    class="content"
    (click)="blockFormClosing($event)"
    (keydown.enter)="closeForm()"
    tabindex="0"
  >
    <ng-container *ngIf="currentForm === formName">
      <ng-container [ngSwitch]="formName">
        <app-add-bucket-form
          *ngSwitchCase="'add bucket'"
          (complete)="done()"
          (change)="changeValue()"
        ></app-add-bucket-form>

        <app-add-bucket-item-form
          *ngSwitchCase="'add bucket items'"
          (complete)="done()"
          (change)="changeValue()"
          [id]="id"
        ></app-add-bucket-item-form>


        <app-edit-bocket-form
          *ngSwitchCase="'edit bucket'"
          (complete)="done()"
          (change)="changeValue()"
          [id]="id"
        >
        </app-edit-bocket-form>

        <app-edit-bocket-item-form
        *ngSwitchCase="'edit bucket items'"
          (complete)="done()"
          (change)="changeValue()"
          [id]="id"
          [parentId]="parentId"
          >

        </app-edit-bocket-item-form>

        <app-delete-form
          *ngSwitchCase="'delete'"
          [id]="id"
          (complete)="done()"
          (change)="changeValue()"
          [delete]="delete"
        ></app-delete-form>
      </ng-container>
    </ng-container>
  </div>
</div>

<app-confirmation-form
  *ngIf="confirmationForm"
  content="changes are not saved yet. Do you want to exit?"
  (confirm)="closeConfirmationForm($event)"
>
</app-confirmation-form>
