.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.329);
  display: flex;
  justify-content: center;
  z-index: 100;

  .content {
    margin-top: 240px;
    position: fixed;
    padding: 24px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    max-width: 70%;
    overflow-y: auto;
    max-height: 95vh;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;

  &.success {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  &.warning {
    background-color: #ffc107;
    color: black;

    &:hover {
      background-color: #e0a800;
      color: white;
    }
  }

  &.danger {
    background-color: #fc573e;
    color: rgb(255, 255, 255);

    &:hover {
      background-color: #fc573ebe;
      color: white;
    }
  }

  &.default {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.text {
    background-color: #ffffff00;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0);
    color: black;

    &:hover {
      color: #007bff;
    }
  }
}
