<p class="title">Edit Bucket</p>
<div>
  <form nz-form (ngSubmit)="onSubmit($event)">
    <div class="basic">
      <app-input-field
        id="title"
        label="title"
        [(value)]="bucket.title"
        type="text"
        [required]="true"
      >
      </app-input-field>

      <app-input-field
        id="public"
        [(value)]="bucket.public"
        [optionValues]="[false, true]"
        [labelValues]="['private', 'public']"
        [required]="true"
      >
      </app-input-field>
    </div>
    <div class="group-button">
      <button nz-button nzType="text" type="reset">Reset</button>
      <button
        nz-button
        nzType="primary"
        type="submit"
        class="submit"
        [disabled]="message.isLoading"
        nzDanger
      >
        Submit
      </button>
    </div>
  </form>
</div>
