.update-user {
  width: 100%;
  padding: 24px;
  text-align: left;

  form {
    width: 50%;

    .update {
      display: flex;
      gap: 24px;
    }

    .title {
      width: 100%;
      font-size: large;
      margin-bottom: 24px;
    }

    .user-information {
      width: 80%;

      nz-form-item {
        margin-bottom: 16px;
        width: 100%;
        nz-form-control {
          width: 100%;
          min-width: 260px;
        }
      }
    }

    input {
      width: 100%;
    }
  }
}
