:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-image: url("../../../assets/img/totoro-single.png");
    background-size: cover;
    border: 1px solid var(--white);

    .change-language{
      position: absolute;
      top: 36px;
      right: 36px;
    }
  }
  