<div class="login">
  <form nz-form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <div class="title">{{'WELCOME' | translate}}</div>

    <nz-form-item class="item">
      <nz-form-control
        [nzSpan]="14"
        [nzValidateStatus]="loginFormGroup.controls.email"
        [nzErrorTip]="emailErrorTpl"
      >
        <nz-input-group nzPrefixIcon="mail">
          <input
            nz-input
            id="email"
            type="email"
            formControlName="email"
            [placeholder]="'EMAIL_PLACEHOLDER' | translate"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="item">
      <nz-form-control
        [nzSpan]="14"
        [nzValidateStatus]="loginFormGroup.controls.password"
        [nzErrorTip]="passwordErrorTpl"
      >
        <nz-input-group nzPrefixIcon="lock">
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
            [placeholder]="'PASSWORD_PLACEHOLDER' | translate"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
{{message.isLoading}}
    <div nz-form-item>
      <button nz-button nzType="primary" [disabled]="loginFormGroup.invalid || message.isLoading">
        {{'LOGIN_BUTTON' | translate}}
      </button>
    </div>
    <a
      (click)="handleClickSignUp()"
      (keydown.enter)="handleClickSignUp()"
      tabindex="0"
      role="button"
    >
      {{'SIGNUP_LINK' | translate}}
    </a>

    <ng-template #emailErrorTpl>
      <small class="error-message">{{'EMAIL_REQUIRED' | translate}}</small>
    </ng-template>
    <ng-template #passwordErrorTpl>
      <small class="error-message">{{'PASSWORD_REQUIRED' | translate}}</small>
    </ng-template>
  </form>
</div>

