<div
  class="account"
  (click)="Visible.emit(false)"
  (keydown.enter)="Visible.emit(false)"
  tabindex="0"
>
  <div
    class="content"
    (click)="blockFormClosing($event)"
    (keydown.enter)="Visible.emit(false)"
    tabindex="0"
  >
    <ng-container *ngIf="userInfo">
      <div class="header">
        <app-icon
          class="edit"
          name="edit"
          (click)="handleClickUpdate()"
          (keydown.enter)="handleClickUpdate()"
          tabindex="0"
        ></app-icon>
      </div>
      <nz-content>
        <nz-avatar
          class="avatar"
          [nzSize]="64"
          nzIcon="user"
          [nzSrc]="avatar"
        ></nz-avatar>
        <div class="username">{{ userInfo.username }}</div>
        <div>{{ userInfo.email }}</div>
      </nz-content>
      <ul class="action">
        <li (click)="handleClickSignIn()" (keydown.enter)="handleClickSignIn()"
        tabindex="0">Other profile</li>
        <li
          (click)="confirmationForm = true"
          (keydown.enter)="confirmationForm = true"
          tabindex="0"
        >
          {{ 'LOG_OUT' | translate }}
        </li>
      </ul>
    </ng-container>
  </div>
</div>
<app-open-modal [isVisible]="confirmationForm" (Visible)="onConfirm($event)">
  <app-confirmation-form *ngIf="confirmationForm" (confirm)="onConfirm($event)">
    {{ 'ARE_YOU_SURE_YOU_WANT_TO_SIGN_OUT' | translate }}
  </app-confirmation-form>
</app-open-modal>
