<div class="container">
  <div
    class="icon-theme"
    (click)="changeThemeForm = true"
    (keydown.enter)="changeThemeForm = true"
    tabindex="0"
  >
    <div class="theme-selected" [ngClass]="selectedTheme"></div>
  </div>
  <app-open-modal
    [isVisible]="changeThemeForm"
    (Visible)="openChangeThemeForm($event)"
  >
    <div>
      <p class="title">Chọn Theme</p>
      <ul>
        <li *ngFor="let theme of themes" [ngClass]="theme">
          <div
            class="theme"
            (click)="changeTheme(theme)"
            (keydown.enter)="changeTheme(theme)"
            tabindex="0"
          ></div>
          <div *ngIf="theme === selectedTheme" class="selected">
            <app-icon [name]="'check'"></app-icon>
          </div>
        </li>
      </ul>
    </div>
  </app-open-modal>
</div>
