.container {
  color: black;
  line-height: 1.5715;
  text-align: left;

  .icon-theme {
    padding: 8px 16px;
    color: #1890ff;
    background-color: white;
    border-radius: 6px;
    transition: 0.2s;

    .theme-selected {
      padding: 7px;
      border-radius: 50%;
      &.red {
        background-color: var(--red2);
      }

      &.blue {
        background-color: var(--blue3);
      }

      &.gray {
        background-color: var(--gray11);
      }

      &.white {
        background-color: var(--red2);
      }
    }

    &:hover {
      background-color: #1890ff;
      color: white;
      transition: 0.2s;
    }
  }
  div {
    text-align: center;
    font-family: Arial, sans-serif;
    text-align: left;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
  }
  .title {
    border-bottom: 1px solid gray;
    padding: 12px 20px;
    width: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding: 20px;

    li {
      display: inline-block;
      // margin: 10px;
      border-radius: 50%;
      position: relative;

      &.red {
        background-color: var(--red2);
      }

      &.blue {
        background-color: var(--blue3);
      }

      &.gray {
        background-color: var(--gray11);
      }

      &.white {
        background-color: var(--red2);
      }

      .theme {
        width: 64px;
        height: 64px;
      }

      .selected {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 6px;
        border-radius: 50%;
        background-color: greenyellow;
        color: black;
      }
    }
  }
}
/* Đặt các biến màu để sử dụng cho theme */
