<div [ngClass]="bucketItem.length > 0 ? 'container' : ''">
  <div class="group-bucket-item">
    @for (bucket of bucketItem; track bucket.content) {
    <div
      class="bucket-item"
      [ngClass]="bucket.done ? 'finish' : 'unfinished'"
      (click)="openItemDetailsView(true, bucket)"
      (keydown.enter)="openItemDetailsView(true, bucket)"
      tabindex="0"
    >
      <div>
        <app-text
          [content]="bucket.content"
          [line]="1"
          class="content"
        ></app-text>
        <p class="time">{{ bucket.createdAt | timeAgo }}</p>
      </div>
      <app-open-form
        (click)="blockFormClosing($event)"
        (keydown.enter)="openItemDetailsView(true, bucket)"
        tabindex="0"
        [formName]="'edit bucket items'"
        [icon]="'edit'"
        [id]="bucket.id"
        [parentId]="bucket.parentId ? bucket.parentId : bucket.bucketId"
        [label]="false"
        [buttonType]="'text'"
      >
      </app-open-form>
    </div>

    }
  </div>
</div>
<app-open-modal
  *ngIf="itemDetailsView"
  (Visible)="handleItemDetailsView($event)"
>
  <app-todo-item-details *ngIf="bucketSelectItem" (done)="handleItemDetailsView($event)"
    [bucketItem]="bucketSelectItem"
  ></app-todo-item-details>
</app-open-modal>
