.container {
  .group-bucket-item {
    text-align: left;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &.and {
      min-height: 564px;
    }

    .bucket-item {
      padding: 6px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      transition: 0.2s;
      margin: 3px 0px;

      &.finish {
        border-radius: 0px;
        border-left: 6px solid var(--green4);
        background: linear-gradient(to right, #b7eb8f, #d9f7be);
        transition: 0.2s;

        &:hover {
          background: var(--red2);
          transition: 0.2s;
        }
      }

      &.warning {
        background-color: var(--orange3);
        border: 1px solid var(--orange6);
      }

      &.late {
        background-color: var(--pink14);
        border: 1px solid var(--pink12);
      }

      .content {
        font-size: large;
      }

      .time {
        font-size: x-small;
      }

      &:hover {
        background-color: var(--red2);
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }

  .pagination {
    flex: 1;
    align-items: end;
    margin-top: 24px;
    display: flex;
  }
}
