<div class="container">
  <div class="group-bucket-item">
    @for (bucket of bucketItem; track bucket.content) {
    <div
      class="bucket-item"
      (click)="openItemDetailsView(true, bucket)"
      (keydown.enter)="openItemDetailsView(true, bucket)"
      tabindex="0"
    >
      <div>
        <app-text
          [content]="bucket.content"
          [line]="1"
          class="content"
        ></app-text>
        <p class="time">{{ bucket.createdAt | timeAgo }}</p>
      </div>
      <app-open-form
        [formName]="'edit bucket items'"
        [icon]="'edit'"
        [id]="bucket.id"
        [parentId]="bucket.parentId ? bucket.parentId : bucket.bucketId"
        [label]="false"
        [buttonType]="'text'"
      >
      </app-open-form>
    </div>

    }
  </div>

  <div class="pagination">
    <nz-pagination
      *ngIf="totalBuckets > configurationParams.limit"
      [nzPageIndex]="configurationParams.page"
      [nzTotal]="totalBuckets"
      [nzPageSize]="configurationParams.limit"
      (nzPageIndexChange)="onPageChange($event)"
    ></nz-pagination>
  </div>
</div>
<app-open-modal
  *ngIf="itemDetailsView"
  (Visible)="handleItemDetailsView($event)"
>
  <app-todo-item-details
    [bucketItem]="bucketSelectItem"
  ></app-todo-item-details>
</app-open-modal>
