.container {
  .group-bucket-item {
    text-align: left;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    &.and {
      min-height: 564px;
    }

    .bucket-item {
      padding: 6px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      transition: 0.2s;
      margin: 3px 0px;
      position: relative;
      text-align: left;
      gap: 12px;
      transition: 0.2s;

      &.finish {
        border-radius: 0px;
        border-left: 6px solid var(--green4);
        background: linear-gradient(to right, #b7eb8f, #d9f7be);
        transition: 0.2s;

        &:hover {
          background: var(--hover);
          transition: 0.2s;
        }

        .status {
          color: var(--green4);
        }
      }

      &.warning {
        background-color: var(--orange3);
        border: 1px solid var(--orange6);
        border-left: 6px solid var(--orange6);

        .status {
          color: var(--orange6);
        }
      }

      &.danger {
        background-color: var(--pink14);
        border: 1px solid var(--pink12);
        border-left: 6px solid var(--pink12);

        .status {
          color: var(--pink12);
        }
      }

      &.missed-deadline {
        // background-color: var(--pink14);
        border: 1px solid var(--gray6);
        border-left: 6px solid var(--gray6);
        color: var(--gray6);
        .status {
          color: var(--gray6);
        }
      }

      &.selected {
        background: linear-gradient(to right, #b7eb8f, #d9f7be);
      }

      .status {
        position: absolute;
        left: -42px;
        font-size: large;
      }

      .title {
        width: 45%;

        .content {
          font-size: medium;
        }

        .time {
          font-size: x-small;
        }
      }

      > p {
        flex: 1;
        text-align: left;
      }

      &:hover {
        background-color: var(--hover);
        color: black;
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }

  .pagination {
    flex: 1;
    align-items: end;
    margin-top: 24px;
    display: flex;
  }
}
