@if (!loading || !hideContent) {
<ng-container *ngIf="!hideContent">
  <ng-content *ngIf="loading" select="[icon-loading]">
    <app-icon [name]="'loading'" class="icon"> </app-icon>
  </ng-content>
  <ng-content *ngIf="iconStart && !loading" select="[icon-start]">
    <app-icon [name]="iconStart"></app-icon>
  </ng-content>
  <ng-content select="[content]"> button </ng-content>
  <ng-content select="[icon-end]">
    <app-icon *ngIf="iconEnd" [name]="iconEnd"></app-icon>
  </ng-content>
</ng-container>
} @else {
<ng-content select="[icon-loading]">
  <app-icon [name]="'loading'"> </app-icon>
</ng-content>
}
