@if (!loading || !hideContent) {
<ng-container *ngIf="!hideContent">
  <ng-content select="[icon-start]">
    <app-icon
      *ngIf="iconStart || loading"
      [name]="loading ? 'loading' : iconStart"
    ></app-icon>
  </ng-content>
  <ng-content select="[content]"> button </ng-content>
  <ng-content select="[icon-end]">
    <app-icon *ngIf="iconEnd" [name]="iconEnd"></app-icon>
  </ng-content>
</ng-container>
} @else {
<ng-content select="[icon-loading]">
  <app-icon [name]="'loading'"> </app-icon>
</ng-content>
}
