<div class="group-calendar">
  <app-calendar></app-calendar>
  <app-form-item class="custom-input" (focused)="changeFocus($event)">
    <input
      appInput
      #inputRef
      type="text"
      [value]="startDate || ''"
      [placeholder]="'heheheh'"
    />
    <app-calendar
      dropdown
      *ngIf="isOpen"
      [selectMode]="'single'"
      (dateSelected)="onStartDateChange($event)"
    ></app-calendar>
  </app-form-item>

  <!-- <div class="flex">
    <app-calendar
      *ngFor="let time of monthsInCurrentYear"
      [startDate]="startDate"
      [endDate]="endDate"
      [monthDetails]="time"
      (dateSelected)="onStartDateChange($event)"
    ></app-calendar>
    
  </div> -->
</div>
