.group-content {
  text-align: left;
  top: 150px;
  background-color: white;
  min-width: 460px;
  max-width: 640px;
  border-radius: 6px;
  transition: 0.2s;
  color: #000;
  line-height: 1.5715;

  .title {
    border-bottom: 1px solid gray;
    padding: 12px 20px;
    width: 100%;
  }

  .content {
    padding: 24px;
  }

  .group-button {
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-top: 24px;
  }
}
