/* You can add global styles to this file, and also import other style files */
@import 'themes/palettes';
@import 'themes/share';
@import 'ng-zorro-antd/ng-zorro-antd.min.css';
// @import "ng-zorro-antd/style/index.min.css";
// @import "ng-zorro-antd/input/style/index.min.css";

html {
  font-family: Open Sans, sans-serif;
}

* {
  padding: 0;
  margin: 0;

  address,
  dl,
  ol,
  p,
  pre,
  ul {
    margin-bottom: 0;
  }

  box-sizing: border-box;
}

button,
input {
  line-height: normal;
  font-size: unset;
}

ul {
  li {
    list-style-type: none;
  }
}

.ant-col-14 {
  max-width: 100%;
}

.ant-menu {
  background-color: rgba(255, 255, 255, 0);
}

.ant-form-item {
  margin: 0px;
}

.flex {
  display: flex;
  gap: 4px;
}

$theme-gray: (
  background: $gray10,
  background-header: $gray11,
  text: $gray7,
  button-bg: $red6,
  button-text: $gray9,
  border: $gray6,
  hover: $gray12,
  text-hover: $gray7,
  select: $red7,
);

$theme-red: (
  background: $red1,
  background-header: $red2,
  text: $red9,
  button-bg: $red6,
  button-text: $red1,
  border: $red5,
  hover: $red2,
  text-hover: $pink8,
  select: $red4,
);

$theme-blue: (
  background: $blue1,
  background-header: $blue3,
  text: $blue9,
  button-bg: $blue6,
  button-text: $blue1,
  border: $blue5,
  hover: $blue3,
  text-hover: $blue9,
  select: $blue5,
);

@mixin apply-theme($theme) {
  --background-color: #{map-get($theme, background)};
  --background-color-header: #{map-get($theme, background-header)};
  --text-color: #{map-get($theme, text)};
  --button-bg-color: #{map-get($theme, button-bg)};
  --button-text-color: #{map-get($theme, button-text)};
  --border-color: #{map-get($theme, border)};
  --hover: #{map-get($theme, hover)};
  --text-hover: #{map-get($theme, text-hover)};
  --select: #{map-get($theme, select)};
}

/* Áp dụng theme */
.theme-red {
  @include apply-theme($theme-red);
}

.theme-blue {
  @include apply-theme($theme-blue);
}

.theme-gray {
  @include apply-theme($theme-gray);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
}

nz-header {
  background-color: var(--background-color) !important;
}

.ant-layout-content {
  background-color: var(--background-color);
}

// .ant-layout-header {
//   background-color: var(--background-color-header) !important;
// }

.ant-menu-inline {
  border: none;
}
