@import 'themes/palettes';

:root {
  --primary: #{$pink8};
  --primary-hover: #{$pink13};
  --border-color: #{$pink10};

  --pink12: #{$pink12};
  --pink14: #{$pink14};

  --red1: #{$red1};
  --red2: #{$red2};
  --red4: #{$red4};
  --red3: #{$red3};
  --red2: #{$red2};

  --blue-border: #{$blue6};
  --blue12: #{$blue12};
  --blue11: #{$blue11};
  --blue8: #{$blue8};
  --blue6: #{$blue6};
  --blue4: #{$blue4};
  --blue3: #{$blue3};
  --blue2: #{$blue2};

  --green1: #{$green1};
  --green2: #{$green2};
  --green3: #{$green3};
  --green4: #{$green4};
  --green6: #{$green6};
  --green8: #{$green8};
  --green10: #{$green10};

  --orange3: #{$orange3};
  --orange4: #{$orange4};
  --orange5: #{$orange5};
  --orange6: #{$orange6};

  --gray6: #{$gray6};
  --gray7: #{$gray7};
  --gray8: #{$gray8};
  --gray9: #{$gray9};
  --gray10: #{$gray10};
  --gray11: #{$gray11};
  --gray12: #{$gray12};
  --gray13: #{$gray13};
  --gray14: #{$gray14};

  --white: #{$gray1};
  --white1: #{$white1};

  --black: #{$gray13};

  --text-gray14: #{$gray14};
}
