@import "themes/palettes";

:root {
  --primary: #{$pink8};
  --primary-hover: #{$pink13};
  --border-color: #{$pink10};

  --pink12: #{$pink12};
  --pink14: #{$pink14};

  --blue-border: #{$blue6};
  --blue12 : #{$blue12};
  --blue11 : #{$blue11};
  --white: #{$gray1};
  --white1: #{$white1};

  --black: #{$gray13};

  --text-gray14: #{$gray14};
}
