<div class="register">
    <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
      <div class="title">register</div>

      <div nz-form-item >
        <div nz-form-label nz-col nzSpan="6">
          <label for="Name">Name:</label>
        </div>
        <div nz-form-control nz-col >
          <input
            nz-input
            id="username"
            type="username"
            formControlName="username"
            placeholder="name"
          />
          <ng-container *ngIf="registerFormGroup.controls.username.invalid && registerFormGroup.controls.username.touched">
            <small>username is required.</small>
          </ng-container>
        </div>
      </div>

      <div nz-form-item >
        <div nz-form-label nz-col nzSpan="6">
          <label for="email">Email:</label>
        </div>
        <div nz-form-control nz-col >
          <input
            nz-input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Enter your email"
          />
          <ng-container *ngIf="registerFormGroup.controls.email.invalid && registerFormGroup.controls.email.touched">
            <small>Email is required.</small>
          </ng-container>
        </div>
      </div>
    
      <div nz-form-item >
        <div nz-form-label nz-col nzSpan="6">
          <label for="password">Password:</label>
        </div>
        <div nz-form-control nz-col >
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          />
          <ng-container *ngIf="registerFormGroup.controls.password.invalid && registerFormGroup.controls.password.touched">
            <small>Password is required.</small>
          </ng-container>
        </div>
      </div>
    
      <div nz-form-item>
        <button nz-button nzType="primary" [disabled]="registerFormGroup.invalid">register</button>
      </div>
      <a (click)="handleClickSignIn()" (keydown.enter)="handleClickSignIn()" tabindex="0" role="button">Sign in</a>

    </form>
  </div>
