<div class="register">
  <form nz-form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
    <div class="title">{{ 'REGISTER.REGISTER' | translate }}</div>

    <nz-form-item class="item">
      <nz-form-control
        [nzSpan]="14"
        [nzValidateStatus]="registerFormGroup.controls.username"
        [nzErrorTip]="usernameErrorTpl"
      >
        <nz-input-group nzPrefixIcon="user">
          <input
            nz-input
            id="username"
            type="text"
            formControlName="username"
            placeholder="{{ 'REGISTER.NAME' | translate }}"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="item">
      <nz-form-control
        [nzSpan]="14"
        [nzValidateStatus]="registerFormGroup.controls.email"
        [nzErrorTip]="emailErrorTpl"
      >
        <nz-input-group nzPrefixIcon="mail">
          <input
            nz-input
            id="email"
            type="email"
            formControlName="email"
            placeholder="{{ 'REGISTER.ENTER_YOUR_EMAIL' | translate }}"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="item">
      <nz-form-control
        [nzSpan]="14"
        [nzValidateStatus]="registerFormGroup.controls.password"
        [nzErrorTip]="passwordErrorTpl"
      >
        <nz-input-group nzPrefixIcon="lock">
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
            placeholder="{{ 'REGISTER.ENTER_YOUR_PASSWORD' | translate }}"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div nz-form-item>
      <button nz-button nzType="primary" [disabled]="registerFormGroup.invalid || message.isLoading">
        {{ 'REGISTER.REGISTER_BUTTON' | translate }}
      </button>
    </div>

    <a
      (click)="handleClickSignIn()"
      (keydown.enter)="handleClickSignIn()"
      tabindex="0"
      role="button"
    >
      {{ 'REGISTER.SIGN_IN' | translate }}
    </a>

    <ng-template #usernameErrorTpl>
      <small class="error-message">{{ 'REGISTER.USERNAME_REQUIRED' | translate }}</small>
    </ng-template>

    <ng-template #emailErrorTpl>
      <small class="error-message">{{ 'REGISTER.EMAIL_REQUIRED' | translate }}</small>
    </ng-template>

    <ng-template #passwordErrorTpl>
      <small class="error-message">{{ 'REGISTER.PASSWORD_REQUIRED' | translate }}</small>
    </ng-template>
  </form>
</div>
