<div class="title">
  <p>todo content</p>
  <div class="action">
    <app-open-form
      *ngIf="!bucketItem.parentId"
      [formName]="'add bucket items'"
      [icon]="'plus'"
      [id]="bucketId"
      [parentId]="bucketItem.id"
      [label]="false"
      [buttonType]="'text'"
    >
    </app-open-form>
    <app-open-form
      [formName]="'edit bucket items'"
      [icon]="'edit'"
      [id]="bucketItem.id"
      [parentId]="bucketId"
      [label]="false"
      [buttonType]="'text'"
      [content]="bucketItem.content"
      [contents]="{ BucketItem: bucketItem }"
    >
    </app-open-form>
    <app-open-form
      [formName]="'delete'"
      [delete]="'deleteBucketItem'"
      [icon]="'delete'"
      [id]="bucketItem.id"
      [parentId]="bucketId"
      [label]="false"
      [buttonType]="'text'"
    >
    </app-open-form>
  </div>
</div>
<div class="content" *ngIf="bucketItem">
  <div class="text-content">
    {{ bucketItem.content }}
  </div>
  <div>
    most recent changes:
    {{
      bucketItem.updatedAt
        ? (bucketItem.updatedAt | timeAgo)
        : (bucketItem.createdAt | timeAgo)
    }}
  </div>
  <div
    *ngIf="viewStatus"
    class="status"
    [ngClass]="bucketItem.done ? 'finish' : 'unfinished'"
    (click)="updateStatus()"
    (keydown.enter)="updateStatus()"
    tabindex="0"
  >
    status : {{ bucketItem.done ? 'finish' : 'unfinished'
    }}<app-icon [name]="bucketItem.done ? 'check' : 'clock-circle'"></app-icon>
  </div>
</div>
