<div class="content" *ngIf="bucketItem">
  <div class="text-content">
    {{ bucketItem.content }}
    <div class="action">
      <app-open-form
        [formName]="'edit bucket items'"
        [icon]="'edit'"
        [id]="bucketItem.id"
        [parentId]="
          bucketItem.parentId ? bucketItem.parentId : bucketItem.bucketId
        "
        [label]="false"
        [buttonType]="'text'"
        [content]="bucketItem.content"
        >
      </app-open-form>
      <app-open-form
        [formName]="'delete'"
        [delete]="'Bucket item'"
        [icon]="'delete'"
        [id]="bucketItem.id"
        [parentId]="
          bucketItem.parentId ? bucketItem.parentId : bucketItem.bucketId
        "
        [label]="false"
        [buttonType]="'text'"
      >
      </app-open-form>
    </div>
  </div>
  <div>
    most recent changes:
    {{
      bucketItem.updatedAt
        ? (bucketItem.updatedAt | timeAgo)
        : (bucketItem.createdAt | timeAgo)
    }}
  </div>
  <div
    class="status"
    [ngClass]="bucketItem.done ? 'finish' : 'unfinished'"
    (click)="updateStatus()"
    (keydown.enter)="updateStatus()"
    tabindex="0"
  >
    status : {{ bucketItem.done ? 'finish' : 'unfinished'
    }}<app-icon [name]="bucketItem.done ? 'check' : 'clock-circle'"></app-icon>
  </div>
</div>
