.content{
    padding: 24px;
    text-align: left;
    min-width: 460px;
    max-width: 640px;

    .text-content{
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .action{
        display: flex;
    }

    .status{
        display: flex;
        gap: 12px;
        cursor: pointer;

        &.finish{
            color: var(--green6);
        }

        &.unfinished{
            color: var(--red4);
        }
    }
}