<app-form-item class="custom-input" (focused)="changeFocus($event)">
  <div
    icon-start
    *ngFor="let selectedValue of multiselectedValue; let i = index"
    class="selected-value"
  >
    {{ selectedValue }}
    <app-icon name="close" (click)="removeSelectedValue(i)"></app-icon>
  </div>
  <input
    appInput
    #inputRef
    type="text"
    [value]="selectedValue || ''"
    [placeholder]="placeholder"
    (input)="filterOptions($event)"
  />
  <app-multi-level-dropdown
    dropdown
    *ngIf="!options.length"
    [isOpen]="isOpen"
    [options]="multiLeveloptions"
    [selectedValue]="multiselectedValue"
    (selected)="multiselectOption($event)"
  ></app-multi-level-dropdown>
</app-form-item>

<!-- <ul class="custom-select-dropdown" [ngClass]="isOpen ? '' : 'none'">
    <li
      *ngFor="let option of filteredOptions"
      (click)="selectOption(option)"
      (keydown.enter)="selectOption(option)"
      tabindex="0"
      [ngClass]="selectedValue === option ? 'selected' : ''"
    >
      {{ option }}
    </li>
  </ul> -->
